@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&family=Rancho&display=swap");
@import "tailwindcss";
@plugin "daisyui";

/* fonts */
.rancho-regular {
  font-family: "Rancho", cursive;
}
.raleway-regular {
  font-family: "Raleway", sans-serif;
}

/* custom styles */
.primary-color {
  color: #331a15;
}
.secondary-color {
  color: #1b1a1a;
}
h1 {
  font-family: "Rancho", cursive;
}
h2,
h3 {
  font-family: "Rancho", cursive;
  color: #331a15;
  text-shadow: #1b1a1a 2px 2px 4px;
}

p {
  color: #1b1a1a;
  font-family: "Raleway", sans-serif;
}
h3:hover {
  cursor: pointer;
  color: #5a3025;
  transition: color 0.3s ease;
}